html, body {
    margin: 0;
    height: 100%;
}

body {
    background:
        linear-gradient(
            rgba(255,255,255,0.35),
            rgba(255,255,255,0.35)
        ), 
        url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 90%;
    height: 100vh;
    overflow: hidden;
    font-family: "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}
