html, body {
    margin: 0;
    height: 100%;
}

body {
    background:
        linear-gradient(
            rgba(255,255,255,0.35),
            rgba(255,255,255,0.35)
        ), 
        url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 90%;
    height: 100vh;
    overflow: hidden;
    font-family: "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}

h1 {
    font-family: Impact, "Arial Narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

body * {
    color: #111;
    text-shadow:
        1px 0 1px rgba(0,0,0,0.25),
        -1px 0 1px rgba(0,0,0,0.25),
        0 1px 1px rgba(0,0,0,0.25);
}

#title {
    position: absolute;
    top: 25px;
    left: 50%;

    transform: translateX(-50%);
    transform: rotate(-5deg);

    text-align: center;
    font-size: 72px;
}

#title,
#date,
#venue {
    background: white;
    padding: 8px 16px;
    display: inline-block;
    color: black;
}
